* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.mainContainer {
	padding: 0;
}

/*===== NAVBAR =====*/
/* bootstrap dropdown hover menu*/
.localNav {
	background-color: #e3e3e3;
}

.localNavList:hover {
	/*background-color: #007bff;*/

}

/*.active {
	background-color: #007bff;
	color: #007bff;
}*/

#localNavHome,
#localNavZones,
#localNavGallery,
#localNavAbout,
#localNavInvolve,
#localNavNews,
#localNavWeb {
	color: #a0a0a0;
	font-variant: small-caps;
}

#localNavHome:hover,
#localNavZones:hover,
#localNavGallery:hover,
#localNavAbout:hover,
#localNavInvolve:hover,
#localNavNews:hover,
#localNavWeb:hover {
	color: #007bff;
	text-transform: uppercase;
	-o-transition: all 1000ms;
    -ms-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
}

.dropdown-menu {
	background-color: #e3e3e3;
}

.dropdown-item {
	color: #a0a0a0;
	font-variant: small-caps;
}

.dropdown-item:hover {
	background-color: #e3e3e3;
	color: #007bff;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.button {
	border: none;
	color: #007bff;
}


/*===== COURASEL =====*/
.localStyleSlide {
	height: calc(100vh - 78px);
}

.localImg {
	height: calc(100vh - 78px); 
}

.localStyleText {
	width: 100%;
	height: calc(100vh - 78px);
	background-color: rgba(100, 100, 100, 0.3);
	right: 0;
	left: 0;
	display: block!important;
	bottom: 0;
	/*margin-bottom: 10%;*/
	/*font-size: 2em;*/
}

.localStyleText h5 {
	font-size: 2em;
	font-family: cursive;
	margin-top: 25%;
}

/*===== BODY =====*/

/*===== banner =====*/
#local-container-fluid {
	background-color: #e3e3e3;
	padding: 
}

.banner-text {
	color: #a0a0a0;
}

/*===== Footer =====*/
#footer {
	background-color: #e3e3e3;
	height: auto;
}

.footerP {
	font-size: 0.7rem;
	color: #a0a0a0;
}

.footerImg {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#powered {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0;
}

#mit {
	color: #007bff;
	cursor: pointer;
}